<h1>New Gallery</h1>

<%= render 'form' %>


<%= link_to 'Back', galleries_path, class: "btn btn-secondary" %>
<%#= link_to 'Tag Categories', multiple_categories_gallery_path(@gallery.id), 
                  class: "btn btn-primary" %>
