
<footer class="page-footer font-small blue pt-4 " >
      <div class="container text-center">
              <copyright>
                  &copy; Copyright <%= Time.now.year %> ImageGallery
              </copyright>
              
      </div>
</footer>

